<%- include('partials/userheader.ejs') %>


<section class="container">
   
    <form class="row g-3" method="post" action="/addadress">
        <div class="col-md-6">
          <label for="inputEmail4" class="form-label font-weight-bold">Name</label>
          <input type="text" class="form-control" id="inputEmail4" name="name">
        </div>
        <div class="col-md-6">
          <label for="inputPassword4" class="form-label font-weight-bold">Moblie Number</label>
          <input type="number" class="form-control" id="inputPassword4" name="phoneNumber">
        </div>

        <div class="col-md-6">
            <label for="inputEmail4" class="form-label font-weight-bold">Pincode</label>
            <input type="number" class="form-control" id="inputEmail4" name="pincode">
        </div>
        <div class="col-md-6">
            <label for="inputPassword4" class="form-label font-weight-bold">Locality</label>
            <input type="text" class="form-control" id="inputPassword4" name="locality">
        </div>

        <div class="col-12">
          <label for="inputAddress" class="form-label">Address</label>
          <input type="text" class="form-control" id="inputAddress" placeholder="Area and street" name="adress">
        </div>

        <!-- <div class="col-12 mb-3">
            <label for="exampleFormControlTextarea1" class="form-label font-weight-bold">Adress</label>
            <textarea class="form-control" id="adress" rows="3" placeholder="Area and street" name="adress"></textarea>
          </div> -->
        <!-- <div class="col-12">
          <label for="inputAddress2" class="form-label">Address 2</label>
          <input type="text" class="form-control" id="inputAddress2" placeholder="Apartment, studio, or floor">
        </div> -->
        <div class="col-md-6">
          <label for="inputCity" class="form-label font-weight-bold">City</label>
          <input type="text" class="form-control" id="inputCity" name="city">
        </div>
        <div class="col-md-6">
            <label for="inputPassword4" class="form-label font-weight-bold">Landmark</label>
            <input type="text" class="form-control" id="inputPassword4" placeholder="optional" name="landmark">
        </div>
        <div class="col-md-6">
            <label for="inputPassword4" class="form-label font-weight-bold">Alternate Phone</label>
            <input type="text" class="form-control" id="inputPassword4" placeholder="optional" name="AlternatePhone">
        </div>
        <div class="col-md-6 pt-5">
          <label for="inputState" class="form-label font-weight-bold">STATE</label>
          <select id="inputState" class="form-select" style="width:20rem;" name="state">
            <option selected>-Select State-</option>
            <option>kerala</option>
            <option value="">Tamil Nadu</option>
            <option value="">Karnataka</option>
            <option value="">Goa</option>
            <option value="">Telangana</option>
          </select>
        </div>
        
        <!-- <div class="col-md-2">
          <label for="inputZip" class="form-label">Zip</label>
          <input type="text" class="form-control" id="inputZip">
        </div> -->
        <!-- <div class="col-12">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" id="gridCheck">
            <label class="form-check-label" for="gridCheck">
              Check me out
            </label>
          </div>
        </div> -->

        <% if(error.length>0){ %>
          <div class="alert alert-danger" role="alert">
           <!-- Incorrect username or password ! -->
           <%= error %></div>
      <% } %>
        <div class="col-12 pt-3">
          <button type="submit" class="btn btn-primary">Add</button>
        </div>
      </form>

</section>

<%- include('partials/userfooter.ejs') %>