
<%- include('partials/userheader.ejs') %>

<!-- Section: Design Block -->
<section class="">
  <!-- Jumbotron -->
  <div class="px-4 py-5 px-md-5 text-center text-lg-start" style="background-color: hsl(0, 0%, 96%)">
    <div class="container">
      <div class="row gx-lg-5 align-items-center">
        <div class="col-lg-6 mb-5 mb-lg-0">
          <h1 class="my-5 display-3 fw-bold ls-tight">
            The best offer <br />
            <span class="text-primary">for your Shopping</span>
          </h1>
          <p style="color: hsl(217, 10%, 50.8%)">
            Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Eveniet, itaque accusantium odio, soluta, corrupti aliquam
            quibusdam tempora at cupiditate quis eum maiores libero
            veritatis? Dicta facilis sint aliquid ipsum atque?
          </p>
        </div>

        <div class="col-lg-6 mb-5 mb-lg-0">
          <div class="card">
            <div class="card-body py-5 px-md-5">
             
              <form action="/signup" method="post">
                <!-- 2 column grid layout with text inputs for the first and last names -->
                <div class="row">
                  <div class="col-12 mb-4">
                    <div class="form-outline">
                      <!-- <label class="form-label" for="form3Example1">full name</label> -->
                      <input type="text" id="form3Example1" class="form-control" name="Name" placeholder="Full Name" />
                    </div>
                  </div>
                  <!-- <div class="col-md-6 mb-4">
                    <div class="form-outline">
                      <input type="text" id="form3Example2" class="form-control" />
                      <label class="form-label" for="form3Example2">Last name</label>
                    </div>
                  </div> -->
                </div>
                <!-- <div class="form-outline mb-4">
                  <input type="text" id="form3Example3" class="form-control" />
                  <label class="form-label" for="form3Example3">full name</label>
                </div> -->


                <!-- Email input -->
                <div class="form-outline mb-4">
                  <!-- <label class="form-label" for="form3Example3">Email address</label> -->
                  <input type="email" id="form3Example3" class="form-control" name="Email" placeholder="Email" />
                </div>


                <div class="form-outline mb-4">
                  <!-- <label class="form-label" for="form3Example4">Phone number</label> -->
                  <input type="number" id="form3Example4" class="form-control" name="PhoneNumber" placeholder="Phone Number" />
                </div>


                <!-- Password input -->
                <div class="form-outline mb-4">
                  <!-- <label class="form-label" for="form3Example4">Password</label> -->
                  <input type="password" id="form3Example4" class="form-control" name="Password" placeholder="Password" />
                </div>
               

                <!-- Submit button -->
                <button type="submit" class="btn btn-primary btn-block mb-4"> Sign up </button> 

                <!-- Register buttons -->
                <div class="text-center">
                  <!-- <p>or sign up with:</p> -->
                  <button type="button" class="btn btn-link btn-floating mx-1">
                    <i class="fab fa-facebook-f"></i>
                  </button>

                  <button type="button" class="btn btn-link btn-floating mx-1">
                    <i class="fab fa-google"></i>
                  </button>

                  <button type="button" class="btn btn-link btn-floating mx-1">
                    <i class="fab fa-twitter"></i>
                  </button>

                  <button type="button" class="btn btn-link btn-floating mx-1">
                    <i class="fab fa-github"></i>
                  </button>
                </div>
              </form>

              <% if(error.length>0){ %>
                <div class="alert alert-danger" role="alert">
                 <!-- Incorrect username or password ! -->
                 <%= error %></div>
            <% } %>
            
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Jumbotron -->
</section>
<!-- Section: Design Block -->

  <%- include('partials/userfooter.ejs') %>