
.gradient-custom {
    /* fallback for old browsers */
    background: #7971ea;
    
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to top left,#7971ea, #7971ea);
    
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to top left, #7971ea, #7971ea)
    }